@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

@keyframes hover {
    from {
        color:#000;
    }
    to {
        color:#2f2f2f;
    }
    
}

body {
    font-family: 'Open Sans';
}

q {
    font-family: 'Abel', sans-serif;
    font-size: 150%;
    font-style: italic;
    font-weight: bolder;
}

.article {
    text-align: center;
    font-family: 'Open Sans';
}

    .article img {
        height: auto;
        width: 50%;
    }

#nav_wrapper {
}

a:link, a:visited, a:active {
    color: #9b9b9b;
}

a:hover {
    color: #000;
}


@media only screen and (max-width: 794px) {

    .article img {
        height: auto;
        width: 80%;
    }

    h1 {
        font-weight: bold;
        font-size: 3em;
        margin: 0;
    }

    #nav_wrapper {
        width: 60vw;
        text-align: center;
        margin: 0 auto;
    }

    .nav {
        margin: 0;
        padding: 2vh;
        border-bottom-style: solid;
        border-width: thin;
        border-bottom-color: #737373;
    }


        .nav li, .nav a {
            text-decoration: none;
            list-style-type: none;
        }

        .nav .items {
            visibility: hidden;
            display: none;
        }

    .box-shadow-menu {
        visibility: visible;
    }
}

@media only screen and (min-width: 795px) {
    .nav li .box-shadow-menu {
        display: none;
        visibility: hidden;
    }

    #nav_wrapper {
        width: 60vw;
        text-align: center;
        margin: 0 auto;
    }

    .nav {
        padding: 2vh;
        border-bottom-style: solid;
        border-width: thin;
        list-style-type: none;
    }

    .items, .items a {
        visibility: visible;
        display: inline;
        text-decoration: none;
    }

    .nav a {
        margin: 3vw;
    }
}
