@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

body {
    font-family: 'Open Sans';
    
    
    
  
}

.nav li, .nav a {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    
}

.nav a {
    margin: 4vw;
    
    
}

.nav {
    text-align: center;
    padding:2vh;
    border-bottom-style: solid;
    border-width: thin;
    
}